/* Here is where we will write out our styles! 
To write comments in a CSS file, you'll need to
have a forward slash and asterix at the beginning and end of a line */
a {
	border: 3px solid green;
	background-color: black;
	animation: colorRotate 6s linear 0s infinite;
	text-decoration: none;
}
.center {
  margin: auto;
  width: 40%;
  padding: 10px;
	text-align: center;
}

#score {
	text-align: right; 
}
.header {
	text-align: center;
	border: 3px solid green;
	background-color: aqua;
}
#start {
	background-color: black;
	animation: colorRotate 6s linear 0s infinite;
}
@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
